<% i = 0 %>
<% while i < @candidateHash.size %>
  <% cand = @candidateHash[i] %>
<!-- Set candidate ID to call other relevant hashes from the API -->
  <% @Id = cand["candidateId"] %>

  <% @candidateBio = HTTParty.get "http://api.votesmart.org/CandidateBio.getBio?key=#{ENV['VOTESMART_API_KEY']}&candidateId=#{@Id}" %>
  <% @candidateBioHash = @candidateBio.parsed_response["bio"]["candidate"] %>
  <% @candidatePhoto = @candidateBioHash["photo"] %>

  <% @candidateVotes = HTTParty.get "http://api.votesmart.org/Votes.getByOfficial?key=#{ENV['VOTESMART_API_KEY']}&candidateId=#{@Id}" %>
  <% @candidateVotesHash = @candidateVotes.parsed_response["bills"] %>
  <% b = 1 %>
  <% candVotes = @candidateVotesHash["bill"][b] %>

  <ul>
    <li>
      <img src="<%= @candidatePhoto %>"></img>
      <% if cand["ballotName"] != nil %>
        <%= cand["ballotName"] %>
      <% else %>
        <%= cand["firstName"] + " " + cand["lastName"] %>
      <% end %>
      <%= cand["electionParties"] %>
      <%= cand["electionDistrictName"] %>
      <%= cand["electionOffice"] %>
      <%= cand["officeName"] %>
      <% while b < @candidateVotesHash.size %>
        <%= candVotes["title"] %>
        <%= candVotes["vote"] %>
        <% b += 1 %>
      <% end %>

      <!-- <#% @candidateVotesHash.each do |p| %> -->
        <!-- <#%= @candidateVotesHash["title"] %> -->
      <!-- <#% end %> -->
    </li>
  </ul>
    <% i += 1 %>
<% end %>