
<main id="candidateCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <div class="col-md-2"></div>
        <article class="col-md-8 stats">
          <p> “If you are bored and disgusted by politics and don't bother to vote, you are in effect voting for the entrenched Establishments of the two major parties, who please rest assured are not dumb, and who are keenly aware that it is in their interests to keep you disgusted and bored and cynical and to give you every possible reason to stay at home doing one-hitters and watching MTV on primary day. By all means stay home if you want, but don't bullshit yourself that you're not voting. In reality, there is no such thing as not voting: you either vote by voting, or you vote by staying home and tacitly doubling the value of some Diehard's vote.” </p>
          <p> ― David Foster Wallace, "Up, Simba!" (2000)</p>
        </article>
        <div class="col-md-2"></div>
      </div>
    </div>
  <% @candArray.each do |c| %>
      <div class="item">
        <div class="row">
          <div class="col-md-2"></div>
          <!-- Photo -->
          <img class="col-md-2 img-responsive candPhoto" src="<%= c['photo'] %>">
          <section class="col-md-6 stats">
            <!-- Name & Political Party-->
            <% if c["ballotName"] != nil %>
              <h2><%= c["ballotName"] %> <small><%= c["electionParties"] %></small></h2>
            <% else %>
              <h3><%= c["firstName"] + " " + c["lastName"] %> <small><%= c["electionParties"] %></small></h3>
            <% end %>          
        <!-- Candidacy -->
            <h4>Running for <small><%= c["electionOffice"] %></small></h4> 
        <!-- Education -->
            <h4>Education</h4>
              <ul>
                <% if c["education"].class == Array %>
                  <% c["education"].each do |ed| %>
                    <li><%= ed["fullText"] %></li>
                  <% end %>
                <% elsif c["education"].class == Hash %>
                  <li><%= c["education"]["fullText"] %></li>
                <% else %>
                  <%= c["education"] %>
                <% end %>
              </ul>
        <!-- Experience -->
            <% if c["officeName"] != nil %>
              <h4>Currently serving as <small><%= c["officeName"] %></small></h4>
            <% end %>
          </section>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <section class="col-md-12">
            <aside class="positions">
              <h4>Past Positions</h4>
              <ul>
                <% if c["experience"].class == Array %>
                  <% c["experience"].each do |ex| %>
                    <li><%= ex["fullText"] %></li>
                  <% end %>
                <% elsif c["experience"].class == Hash %>
                  <li><%= c["experience"]["fullText"] %></li>
                <% else %>
                  <%= c["experience"] %>
                <% end %>
              </ul>
            </aside>
          </section>
        </div>
        <!-- Voting Record -->
        <% if c["votes"] != nil %>
          <div class="row">
              <div class="col-md-1"></div>
                <section class="col-md-6">
                  <h3>Bill Title</h3>
                </section>
                <div class="col-md-1"></div>
                <section class="col-md-3">
                  <h3>Candidate Voted</h3>
                </section>
            </div>
          <% c["votes"]["bill"].each do |b| %>
            <div class="row">
              <div class="col-md-1"></div>
                <section class="col-md-6">
                  <h4><%= b["title"] %></h4>
                </section>
                <div class="col-md-1"></div>
                <section class="col-md-2">
                  <h4><%= b["vote"] %></h4>
                </section>
              <div class="col-md-1"></div>
            </div>
          <% end %>
        <% end %>
      </div>
  <% end %>
  </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#candidateCarousel" role="button" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#candidateCarousel" role="button" data-slide="next">&rsaquo;</a>
</main>
