
<script>
 $(function(){
 $('#candidateCarousel').carousel();
 });
</script>

<div id="candidateCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
        <div class="item active">
        <img class="img-responsive" src="<%= @candArray[0]['photo'] %>">
        <div>
          <% if @candArray[0]["ballotName"] != nil %>
            <p> Name: <%= @candArray[0]["ballotName"] %> </p>
          <% else %>
            <p> Name: <%= @candArray[0]["firstName"] + " " + @candArray[0]["lastName"] %> </p>
          <% end %>
          <p> Party: <%= @candArray[0]["electionParties"] %> </p>
          <p> On the ballot in election district <%= @candArray[0]["electionDistrictName"] %> </p> 
          <p> Running for: <%= @candArray[0]["electionOffice"] %> <p> 
          <p> Currently serving: <%= @candArray[0]["officeName"] %> <p>
        </div>
      </div>
  <% @candArray.each do |c| %>
      <div class="item">
        <img class="img-responsive" src="<%= c['photo'] %>">
        <div>
          <% if c["ballotName"] != nil %>
            <p> Name: <%= c["ballotName"] %> </p>
          <% else %>
            <p> Name: <%= c["firstName"] + " " + c["lastName"] %> </p>
          <% end %>
          <p> Party: <%= c["electionParties"] %> </p>
          <p> On the ballot in election district <%= c["electionDistrictName"] %> </p> 
          <p> Running for: <%= c["electionOffice"] %> <p> 
          <p> Currently serving: <%= c["officeName"] %> <p>
        </div>
      </div>
      <div>
        <% if c["votes"] == nil %>
          <p><%= c["votes"] %></p>
        <% else %>
          <% c["votes"]["bill"].each do |print| %>
            <p><%= c["votes"]["bill"][0]["title"] %></p>
            <p>Bill Title: <%= print["title"] %> Candidate Voted: <%= print["vote"] %></p>
          <% end %>
        <% end %>
      </div>
  <% end %>
  </div>
  <!-- Carousel controls -->
  <a class="carousel-control left" href="#candidateCarousel" role="button" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#candidateCarousel" role="button" data-slide="next">&rsaquo;</a>
</div>
