<!-- ----------------------------------lOCAL----------------------------------- -->
<main id="localCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <div class="col-md-2"></div>
        <article class="col-md-8 stats">
          <h2>Local Level Candidates</h2>
        </article>
        <div class="col-md-2"></div>
      </div>
    </div>
  <% @candArray.each do |c| %>
    <% if c["electionOffice"] == "Governor" || c["electionOffice"] == "Lieutenant Governor" %>
      <div class="item container">
        <div class="row">
          <div class="col-md-2"></div>
          <!-- Photo -->
          <div class="col-md-2">
            <img class="img-responsive candPhoto" src="<%= c['photo'] %>">
          </div>
          <section class="col-md-6 stats">
            <div class="row">
        <!-- Name & Political Party-->
              <% if c["ballotName"] != nil %>
                <h2 class="col-md-12"><%= c["ballotName"] %> <small><%= c["electionParties"] %></small></h2>
              <% else %>
                <h2class="col-md-12"><%= c["firstName"] + " " + c["lastName"] %> <small><%= c["electionParties"] %></small></h2>
              <% end %>
            </div>
        <!-- Candidacy -->
            <div class="row">
              <h3 class="col-md-12">Running for <small><%= c["electionOffice"] %></small></h3> 
            </div>          
        <!-- Current Experience -->
            <div class="row">
              <div class="col-md-6">
                <h4>Currently Serving <small><%= c["officeName"] %></small></h4>
              </div>
        <!-- Past Political Positions -->
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Past Positions & Candidature<span class="caret"></span></h4>
                </a>
                <!-- positions class -->
                <ul class="dropdown-menu">
                  <% if c["experience"].class == Array %>
                    <% c["experience"].each do |ex| %>
                      <li><h4><small><%= ex["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["experience"].class == Hash %>
                    <li><h4><small><%= c["experience"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["experience"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
            </div>
        <!-- Education -->
            <div class="row">
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Education<span class="caret"></span></h4>
                </a>
                <ul class="education dropdown-menu">
                  <% if c["education"].class == Array %>
                    <% c["education"].each do |ed| %>
                      <li><h4><small><%= ed["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["education"].class == Hash %>
                    <li><h4><small><%= c["education"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["education"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
          <!-- Professional Life -->
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Professional History<span class="caret"></span></h4>
                </a>
                <ul class="profession dropdown-menu">
                  <% if c["profession"].class == Array %>
                    <% c["profession"].each do |pro| %>
                      <li><h4><small><%= pro["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["profession"].class == Hash %>
                    <li><h4><small><%= c["profession"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["profession"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
            </div>
        <!-- Voting Record -->
            <div class="row">
              <section class="dropdown col-md-12">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Voting Record<span class="caret"></span></h4>
                </a>
                <ul class="votes dropdown-menu">
                  <% if c["votes"] != nil %>
                    <section class="row">
                      <div class="col-md-6">
                        <li><h3>Bill Title</h3></li>
                      </div>
                      <div class="col-md-3">
                        <li><h3>Office Held</h3></li>
                      </div>
                      <div class="col-md-1">
                        <li><h3>Voted</h3></li>
                      </div>
                    </section>
                    <% c["votes"]["bill"].each do |b| %>
                      <section class="row">
                        <div class="col-md-6">
                          <li><h4><%= b["title"] %></h4></li>
                        </div>
                        <div class="col-md-3">
                          <li><h4><%= b["office"] %></h4></li>
                        </div>
                        <div class="col-md-1">
                          <li><h4><%= b["vote"] %></h4></li>
                        </div>
                      </section>
                    <% end %>
                  <% end %>
                </ul>
              </section>
            </div>
          </div>
        </section>
      </div>
    <% end %>
  <% end %>
  </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#localCarousel" role="button" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#localCarousel" role="button" data-slide="next">&rsaquo;</a>
</main>
<!-- -----------------------------------STATE--------------------------------------- -->
<main id="stateCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <div class="col-md-2"></div>
        <article class="col-md-8 stats">
          <h2>State Level Candidates</h2>
        </article>
        <div class="col-md-2"></div>
      </div>
    </div>
  <% @candArray.each do |c| %>
    <% if c["electionOffice"] == "Governor" || c["electionOffice"] == "Lieutenant Governor" %>
      <div class="item container">
        <div class="row">
          <div class="col-md-2"></div>
          <!-- Photo -->
          <div class="col-md-2">
            <img class="img-responsive candPhoto" src="<%= c['photo'] %>">
          </div>
          <section class="col-md-6 stats">
            <div class="row">
        <!-- Name & Political Party-->
              <% if c["ballotName"] != nil %>
                <h2 class="col-md-12"><%= c["ballotName"] %> <small><%= c["electionParties"] %></small></h2>
              <% else %>
                <h2class="col-md-12"><%= c["firstName"] + " " + c["lastName"] %> <small><%= c["electionParties"] %></small></h2>
              <% end %>
            </div>
        <!-- Candidacy -->
            <div class="row">
              <h3 class="col-md-12">Running for <small><%= c["electionOffice"] %></small></h3> 
            </div>          
        <!-- Current Experience -->
            <div class="row">
              <div class="col-md-6">
                <h4>Currently Serving <small><%= c["officeName"] %></small></h4>
              </div>
        <!-- Past Political Positions -->
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Past Positions & Candidature<span class="caret"></span></h4>
                </a>
                <!-- positions class -->
                <ul class="dropdown-menu">
                  <% if c["experience"].class == Array %>
                    <% c["experience"].each do |ex| %>
                      <li><h4><small><%= ex["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["experience"].class == Hash %>
                    <li><h4><small><%= c["experience"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["experience"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
            </div>
        <!-- Education -->
            <div class="row">
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Education<span class="caret"></span></h4>
                </a>
                <ul class="education dropdown-menu">
                  <% if c["education"].class == Array %>
                    <% c["education"].each do |ed| %>
                      <li><h4><small><%= ed["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["education"].class == Hash %>
                    <li><h4><small><%= c["education"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["education"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
          <!-- Professional Life -->
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Professional History<span class="caret"></span></h4>
                </a>
                <ul class="profession dropdown-menu">
                  <% if c["profession"].class == Array %>
                    <% c["profession"].each do |pro| %>
                      <li><h4><small><%= pro["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["profession"].class == Hash %>
                    <li><h4><small><%= c["profession"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["profession"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
            </div>
        <!-- Voting Record -->
            <div class="row">
              <section class="dropdown col-md-12">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Voting Record<span class="caret"></span></h4>
                </a>
                <ul class="votes dropdown-menu">
                  <% if c["votes"] != nil %>
                    <section class="row">
                      <div class="col-md-6">
                        <li><h3>Bill Title</h3></li>
                      </div>
                      <div class="col-md-3">
                        <li><h3>Office Held</h3></li>
                      </div>
                      <div class="col-md-1">
                        <li><h3>Voted</h3></li>
                      </div>
                    </section>
                    <% c["votes"]["bill"].each do |b| %>
                      <section class="row">
                        <div class="col-md-6">
                          <li><h4><%= b["title"] %></h4></li>
                        </div>
                        <div class="col-md-3">
                          <li><h4><%= b["office"] %></h4></li>
                        </div>
                        <div class="col-md-1">
                          <li><h4><%= b["vote"] %></h4></li>
                        </div>
                      </section>
                    <% end %>
                  <% end %>
                </ul>
              </section>
            </div>
          </div>
        </section>
      </div>
    <% end %>
  <% end %>
  </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#stateCarousel" role="button" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#stateCarousel" role="button" data-slide="next">&rsaquo;</a>
</main>
<!-- ------------------------------------FEDERAL----------------------------------- -->
<main id="federalCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <div class="col-md-2"></div>
        <article class="col-md-8 stats">
          <h2>Federal Level Candidates</h2>
        </article>
        <div class="col-md-2"></div>
      </div>
    </div>
  <% @candArray.each do |c| %>
    <% if c["electionOffice"] == "U.S. House" || c["electionOffice"] == "U.S. Senate" %>
      <div class="item container">
        <div class="row">
          <div class="col-md-2"></div>
          <!-- Photo -->
          <div class="col-md-2">
            <img class="img-responsive candPhoto" src="<%= c['photo'] %>">
          </div>
          <section class="col-md-6 stats">
            <div class="row">
        <!-- Name & Political Party-->
              <% if c["ballotName"] != nil %>
                <h2 class="col-md-12"><%= c["ballotName"] %> <small><%= c["electionParties"] %></small></h2>
              <% else %>
                <h2class="col-md-12"><%= c["firstName"] + " " + c["lastName"] %> <small><%= c["electionParties"] %></small></h2>
              <% end %>
            </div>
        <!-- Candidacy -->
            <div class="row">
              <h3 class="col-md-12">Running for <small><%= c["electionOffice"] %></small></h3> 
            </div>          
        <!-- Current Experience -->
            <div class="row">
              <div class="col-md-6">
                <h4>Currently Serving <small><%= c["officeName"] %></small></h4>
              </div>
        <!-- Past Political Positions -->
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Past Positions & Candidature<span class="caret"></span></h4>
                </a>
                <ul class="dropdown-menu">
                  <% if c["experience"].class == Array %>
                    <% c["experience"].each do |ex| %>
                      <li><h4><small><%= ex["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["experience"].class == Hash %>
                    <li><h4><small><%= c["experience"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["experience"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
            </div>
        <!-- Education -->
            <div class="row">
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Education<span class="caret"></span></h4>
                </a>
                <ul class="education dropdown-menu">
                  <% if c["education"].class == Array %>
                    <% c["education"].each do |ed| %>
                      <li><h4><small><%= ed["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["education"].class == Hash %>
                    <li><h4><small><%= c["education"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["education"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
          <!-- Professional Life -->
              <section class="dropdown col-md-6">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Professional History<span class="caret"></span></h4>
                </a>
                <ul class="profession dropdown-menu">
                  <% if c["profession"].class == Array %>
                    <% c["profession"].each do |pro| %>
                      <li><h4><small><%= pro["fullText"] %></h4></small></li>
                    <% end %>
                  <% elsif c["profession"].class == Hash %>
                    <li><h4><small><%= c["profession"]["fullText"] %></h4></small></li>
                  <% else %>
                    <li><h4><small><%= c["profession"] %></h4></small></li>
                  <% end %>
                </ul>
              </section>
            </div>
        <!-- Voting Record -->
            <div class="row">
              <section class="dropdown col-md-12">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <h4>Voting Record<span class="caret"></span></h4>
                </a>
                <ul class="votes dropdown-menu">
                  <% if c["votes"] != nil %>
                    <section class="row">
                      <div class="col-md-6">
                        <li><h3>Bill Title</h3></li>
                      </div>
                      <div class="col-md-3">
                        <li><h3>Office Held</h3></li>
                      </div>
                      <div class="col-md-1">
                        <li><h3>Voted</h3></li>
                      </div>
                    </section>
                    <% c["votes"]["bill"].each do |b| %>
                      <section class="row">
                        <div class="col-md-6">
                          <li><h4><%= b["title"] %></h4></li>
                        </div>
                        <div class="col-md-3">
                          <li><h4><%= b["office"] %></h4></li>
                        </div>
                        <div class="col-md-1">
                          <li><h4><%= b["vote"] %></h4></li>
                        </div>
                      </section>
                    <% end %>
                  <% end %>
                </ul>
              </section>
            </div>
          </div>
        </section>
      </div>
    <% end %>
  <% end %>
  </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#federalCarousel" role="button" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#federalCarousel" role="button" data-slide="next">&rsaquo;</a>
</main>