 <script>
//   $(function(){
//     $('#candidateCarousel').carousel();
//   });
</script>

<main id="candidateCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <div class="col-md-2"></div>
        <article class="col-md-8 stats">
          <p> “If you are bored and disgusted by politics and don't bother to vote, you are in effect voting for the entrenched Establishments of the two major parties, who please rest assured are not dumb, and who are keenly aware that it is in their interests to keep you disgusted and bored and cynical and to give you every possible reason to stay at home doing one-hitters and watching MTV on primary day. By all means stay home if you want, but don't bullshit yourself that you're not voting. In reality, there is no such thing as not voting: you either vote by voting, or you vote by staying home and tacitly doubling the value of some Diehard's vote.” </p>
          <p> ― David Foster Wallace, "Up, Simba!"</p>
        </article>
        <div class="col-md-2"></div>
      </div>
    </div>
  <% @candArray.each do |c| %>
      <div class="item">
        <div class="row">
          <div class="col-md-2"></div>
          <!-- Photo -->
          <img class="col-md-2 img-responsive candPhoto" src="<%= c['photo'] %>">
          <section class="col-md-6 stats">
            <!-- Name & Political Party-->
            <% if c["ballotName"] != nil %>
              <h3><%= c["ballotName"] %> <small><%= c["electionParties"] %></small></h3>
            <% else %>
              <h3><%= c["firstName"] + " " + c["lastName"] %> <small><%= c["electionParties"] %></small></h3>
            <% end %>          
        <!-- Candidacy -->
            <h4>Running for <small><%= c["electionOffice"] %></small></h4> 
        <!-- Education -->
            <h4>Education</h4>
              <ul>
                <% if c["education"].class == Array %>
                  <% c["education"].each do |ed| %>
                    <li><%= ed["fullText"] %></li>
                  <% end %>
                <% elsif c["education"].class == Hash %>
                  <li><%= c["education"]["fullText"] %></li>
                <% else %>
                  <%= c["education"] %>
                <% end %>
              </ul>
        <!-- Experience -->
            <% if c["officeName"] != nil %>
              <h4>Currently serving <small><%= c["officeName"] %></small></h4>
            <% end %>
            <h4>Past positions</h4>
              <ul class="positions">
                <% if c["experience"].class == Array %>
                  <% c["experience"].each do |ex| %>
                    <li><%= ex["fullText"] %></li>
                  <% end %>
                <% elsif c["experience"].class == Hash %>
                  <li><%= c["experience"]["fullText"] %></li>
                <% else %>
                  <%= c["experience"] %>
                <% end %>
              </ul>
          </section>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
          <!-- Voting Record -->
            <% if c["votes"] == nil %>
              <p><%= c["votes"] %></p>
            <% else %>
              <% c["votes"]["bill"].each do |b| %>
                  <h4>
                    Bill Title <small><%= b["title"] %></small> Candidate Voted <small><%= b["vote"] %></small>
                  </h4>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
  <% end %>
  </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#candidateCarousel" role="button" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#candidateCarousel" role="button" data-slide="next">&rsaquo;</a>
</main>
