<% i = 0 %>
<% while i < @candidateHash.size %>
  <% cand = @candidateHash[i] %>
<!-- Set candidate ID to call other relevant hashes from the API -->
  <% @Id = cand["candidateId"] %>

  <% @candidateBio = HTTParty.get "http://api.votesmart.org/CandidateBio.getBio?key=#{ENV['VOTESMART_API_KEY']}&candidateId=#{@Id}" %>
  <% @candidateBioHash = @candidateBio.parsed_response["bio"]["candidate"] %>
  <% @candidatePhoto = @candidateBioHash["photo"] %>

  <!-- <#% @candidateVotes = HTTParty.get "http://api.votesmart.org/Votes.getByOfficial?key=#{ENV['VOTESMART_API_KEY']}&candidateId=#{@Id}" %>
  <#% @candidateVotesHash = @candidateVotes.parsed_response["bills"]["bill"] %> -->
      
  <div class="container">
    <div class="row">
      <img class="col-md-2 img-responsive" src="<%= @candidatePhoto %>">
      <div class="col-md-3">
        <% if cand["ballotName"] != nil %>
          <p> Name: <%= cand["ballotName"] %> </p>
        <% else %>
          <p> Name: <%= cand["firstName"] + " " + cand["lastName"] %> </p>
        <% end %>
        <p> Party: <%= cand["electionParties"] %> </p>
        <p> On the ballot in election district <%= cand["electionDistrictName"] %> </p> 
        <p> Running for: <%= cand["electionOffice"] %> <p> 
        <p> Currently serving: <%= cand["officeName"] %> <p>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
    <!% b = 0 %>
      <!#% while b < @candidateVotesHash.size %>
        <!#% candVotes = @candidateVotesHash[b] %>
        <!-- <#% candVotes = lambda { |b| @candidateVotesHash[b] } %> -->
          <!#%= @candidateVotesHash[b]["title"] %>
          <!#%= @candidateVotesHash[b]["vote"] %>
          <!#% b += 1 %>
      <!#% end %>

      <!-- <#% @candidateVotesHash.each do |p| %> -->
        <!-- <#%= @candidateVotesHash["title"] %> -->
      <!-- <#% end %> -->
    <% i += 1 %>
<% end %>