<!DOCTYPE html>
<html lang="en">
<head>
  <title>Platform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <h1>Platform <small>Where do they stand?</small></h1>
    <nav>
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to "Home", root_path %>
        <li role="presentation"><%= link_to "My Candidates", candidates_path %>
        <li role="presentation"><%= link_to "Register to Vote", "https://vote.usa.gov/", target: "_blank" %>
      </ul>
    </nav>
  </header>
<%= yield %>

</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</html>
